<h1>Create a new post</h1>

<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <%= f.association :recipient, prompt: "Choose a recipient",
                                label_method: :username %>

  <%= f.hidden_field :poster_id, value: @current_user.id %>

  <%= f.text_field :text %>

  <%= f.button :submit %>

<% end %>